<style>
    @media (max-width: 766px) {
    .row {
      margin-left: -8rem;
    }
    .row-inner{
        margin-left: -0.7rem;
    }
    }
</style>

<% layout("/layouts/boilerplate") %>

    <div class="row mt-3">
        <div class="col-8 offset-2">
            <!-- col-8 se pura page ko 8 part kr k...then offset se bich me kr dega(offset-2 yani left se space 2 hua ) -->
          
            <h2>Create a new Listing</h2>
            <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" placeholder="Add a catchy title..." type="text" class="form-control" required/>

                    <div class="valid-feedback">
                        Title Looks good!
                       </div>
                </div>
                

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" placeholder="Enter description..." type="text"
                        class="form-control" required></textarea>

                        <div class="invalid-feedback">
                            Please provide a short description.
                          </div>
                    
                </div>

               
                <div class="mb-3">  <!-- form uploading img  -->
                    <label for="image" class="form-label">Upload Listing Image</label>
                    <input name="listing[image]" type="file" class="form-control" required/>
                </div>

                <div class="row row-inner">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" placeholder="1200" type="text" class="form-control" required/>

                        <div class="invalid-feedback">
                           Price should be valid.
                          </div>
                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input name="listing[country]" placeholder="India" type="text" class="form-control" required/>

                        <div class="invalid-feedback">
                           Country name should be valid.
                          </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[location]" placeholder="Bengaluru, Karnataka" type="text" class="form-control" required/>

                    <div class="invalid-feedback">
                        Location should be valid.
                      </div>
                </div>

               

                <button class="btn btn-dark add-btn mt-3 mb-5">Add</button>
                
            </form>
        </div>
    </div>